In [1]:
# Import the dependencies.
%matplotlib inline
import pandas as pd
import gmaps
import requests
# Import the API key.
from conf import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sharan,RU,2022-03-10 22:51:50,54.8167,54.0000,1.44,100,100,6.06
1,1,Trnava,SK,2022-03-10 22:51:50,48.3774,17.5872,34.21,50,20,9.66
2,2,Tromso,NO,2022-03-10 22:51:51,69.6496,18.9570,38.37,81,75,21.85
3,3,Rikitea,PF,2022-03-10 22:47:34,-23.1203,-134.9692,78.76,69,10,6.78
4,4,Bluff,NZ,2022-03-10 22:45:15,-46.6000,168.3333,62.80,66,100,12.15

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights =clouds,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights =wind,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rikitea,PF,2022-03-10 22:47:34,-23.1203,-134.9692,78.76,69,10,6.78
5,5,Roebourne,AU,2022-03-10 22:51:51,-20.7833,117.1333,86.81,56,3,3.80
7,7,Dingle,PH,2022-03-10 22:51:52,10.9995,122.6711,77.50,89,70,6.38
8,8,Hilo,US,2022-03-10 22:44:43,19.7297,-155.0900,82.13,73,40,11.50
21,21,Atuona,PF,2022-03-10 22:47:39,-9.8000,-139.0333,78.64,73,23,17.00
22,22,Kapaa,US,2022-03-10 22:47:32,22.0752,-159.3190,81.48,69,0,6.91
24,24,Acapulco,MX,2022-03-10 22:49:29,16.8634,-99.8901,80.42,74,0,5.75
26,26,Touros,BR,2022-03-10 22:50:36,-5.1989,-35.4608,81.23,76,98,15.82
35,35,Belawan,ID,2022-03-10 22:51:59,3.7755,98.6832,77.29,88,100,4.63
36,36,Arraial Do Cabo,BR,2022-03-10 22:47:36,-22.9661,-42.0278,76.86,73,0,11.50

In [13]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3           Rikitea      PF     78.76 -23.1203 -134.9692
5         Roebourne      AU     86.81 -20.7833  117.1333
7            Dingle      PH     77.50  10.9995  122.6711
8              Hilo      US     82.13  19.7297 -155.0900
21           Atuona      PF     78.64  -9.8000 -139.0333
22            Kapaa      US     81.48  22.0752 -159.3190
24         Acapulco      MX     80.42  16.8634  -99.8901
26           Touros      BR     81.23  -5.1989  -35.4608
35          Belawan      ID     77.29   3.7755   98.6832
36  Arraial Do Cabo      BR     76.86 -22.9661  -42.0278

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [17]:
#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Rikitea,PF,78.76,-23.1203,-134.9692,People ThankYou
5,Roebourne,AU,86.81,-20.7833,117.1333,Latitude20 Roebourne Village
7,Dingle,PH,77.50,10.9995,122.6711,SEGAYA PROPERTY
8,Hilo,US,82.13,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Atuona,PF,78.64,-9.8000,-139.0333,Villa Enata
22,Kapaa,US,81.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
24,Acapulco,MX,80.42,16.8634,-99.8901,HS Hotsson Smart Acapulco
26,Touros,BR,81.23,-5.1989,-35.4608,INN NEW HORIZON
35,Belawan,ID,77.29,3.7755,98.6832,Rumah Mamak Bapak M.Radial
36,Arraial Do Cabo,BR,76.86,-22.9661,-42.0278,Pousada Porto Praia

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))