## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [19]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,New Norfolk,-42.7826,147.0587,54.90,68,96,1.01,AU,overcast clouds
1,1,Busselton,-33.6500,115.3333,73.67,66,71,15.79,AU,broken clouds
2,2,Yellowknife,62.4560,-114.3525,0.41,87,19,8.01,CA,few clouds
3,3,Baie-Comeau,49.2168,-68.1489,20.88,63,100,13.80,CA,overcast clouds
4,4,Progreso,21.2833,-89.6667,74.10,83,0,14.61,MX,clear sky

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
6,6,Takoradi,4.8845,-1.7554,85.53,70,36,8.37,GH,scattered clouds
7,7,Atuona,-9.8000,-139.0333,78.71,80,71,14.23,PF,broken clouds
9,9,Avarua,-21.2078,-159.7750,78.85,89,75,5.75,CK,broken clouds
12,12,Faanui,-16.4833,-151.7500,82.42,71,20,14.70,PF,few clouds
13,13,Gigmoto,13.7796,124.3900,79.48,86,21,7.74,PH,few clouds
14,14,Nacala,-14.5428,40.6728,87.12,75,75,3.67,MZ,broken clouds
16,16,Santa Cruz,-17.8000,-63.1667,76.46,94,75,13.80,BO,broken clouds
17,17,Mount Isa,-20.7333,139.5000,85.77,15,3,8.05,AU,clear sky
20,20,Karratha,-20.7377,116.8463,85.46,67,100,13.31,AU,light rain
22,22,Umm Lajj,25.0213,37.2685,79.65,49,0,10.42,SA,clear sky

In [22]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                7
Current Description    0
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
6,6,Takoradi,4.8845,-1.7554,85.53,70,36,8.37,GH,scattered clouds
7,7,Atuona,-9.8000,-139.0333,78.71,80,71,14.23,PF,broken clouds
9,9,Avarua,-21.2078,-159.7750,78.85,89,75,5.75,CK,broken clouds
12,12,Faanui,-16.4833,-151.7500,82.42,71,20,14.70,PF,few clouds
13,13,Gigmoto,13.7796,124.3900,79.48,86,21,7.74,PH,few clouds
...,...,...,...,...,...,...,...,...,...,...
1708,1708,Magdalena,14.1999,121.4290,83.35,82,65,7.38,PH,broken clouds
1709,1709,Sungai Besar,3.6746,100.9867,82.58,80,90,6.87,MY,heavy intensity rain
1711,1711,Balabac,7.9868,117.0645,82.26,78,58,12.86,PH,broken clouds
1719,1719,Rudbar,30.1500,62.6000,76.41,9,0,14.09,AF,clear sky
1723,1723,Beira,-19.8436,34.8389,84.29,61,20,10.36,MZ,few clouds

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Takoradi,GH,85.53,scattered clouds,4.8845,-1.7554,
7,Atuona,PF,78.71,broken clouds,-9.8000,-139.0333,
9,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,
12,Faanui,PF,82.42,few clouds,-16.4833,-151.7500,
13,Gigmoto,PH,79.48,few clouds,13.7796,124.3900,
14,Nacala,MZ,87.12,broken clouds,-14.5428,40.6728,
16,Santa Cruz,BO,76.46,broken clouds,-17.8000,-63.1667,
17,Mount Isa,AU,85.77,clear sky,-20.7333,139.5000,
20,Karratha,AU,85.46,light rain,-20.7377,116.8463,
22,Umm Lajj,SA,79.65,clear sky,25.0213,37.2685,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Takoradi,GH,85.53,scattered clouds,4.8845,-1.7554,Raybow International Hotel
7,Atuona,PF,78.71,broken clouds,-9.8000,-139.0333,Villa Enata
9,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,Paradise Inn
12,Faanui,PF,82.42,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
13,Gigmoto,PH,79.48,few clouds,13.7796,124.3900,Cj's Travellers Inn
...,...,...,...,...,...,...,...
1708,Magdalena,PH,83.35,broken clouds,14.1999,121.4290,Samparada & Gestiada Residences
1709,Sungai Besar,MY,82.58,heavy intensity rain,3.6746,100.9867,NIDA Rooms Sabak Bernam Comfort
1711,Balabac,PH,82.26,broken clouds,7.9868,117.0645,Batalla’s Lodging House
1719,Rudbar,AF,76.41,clear sky,30.1500,62.6000,
1723,Beira,MZ,84.29,few clouds,-19.8436,34.8389,Beira Terrace Hotel

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv

hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))